@import '../../theme/variables';

.buttonContainer {
  background-color: $color-black;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Smooth transition */
  transform: translateY(0); /* Initial position */
  padding: 15px 20px; /* Corrected padding syntax */
  display: flex; /* Add flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Ensure text alignment */

  &:hover {
    background-color: $color-primary; /* Change background on hover */
    transform: translateY(-1px); /* Slight up animation */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  }

  .title {
    color: white;
    text-align: center;
    transition: color 0.3s ease-in-out;
    font-size: $font-size-medium;
    padding: 0px 10px;
  }
}

.varientContainer {
  border: 1px solid $color-black;
  padding: 15px 20px; /* Corrected padding syntax */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Smooth transition */
  transform: translateY(0); /* Initial position */

  &:hover {
    transform: translateY(-1px);
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;

    .varientTitle {
      color: white;
    }
  }

  .varientTitle {
    color: $color-black;
    text-align: center;
    transition: color 0.3s ease-in-out;
    font-size: $font-size-medium;
    padding: 0px 10px;
  }
}
