@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Onest:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$color-primary: #FC5721; // Primary Accent
$color-secondary: #F8FFCB; // Secondary Background
$color-gray: #AAAAAA; // Gray
$color-black: #000000; // Black
$color-light-gray: #F1F1F1; // Light Gray

// Font Sizes
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-extra-large: 24px;

// Font Families (Google Fonts)
$font-family-primary: "Hubot Sans",sans-serif; 
$font-family-secondary: "Public Sans",sans-serif;